:root {
  --background: hsl(275, 26%, 9%);
  --shadow: hsla(0, 0%, 84%, 0.048);
  --navBackground: hsla(260, 6%, 10%, 0.28);
  --primaryTXT: hsl(0, 0%, 84%);
  --secondaryTXT: hsl(0, 0%, 84%, 0.65);
  --accent: hsl(274, 99%, 45%);
  --secondary-btn: hsl(273, 35%, 12%);
  --section: hsl(276, 83%, 5%, 0.37);
  --nestedsection: hsla(276, 79%, 4%, 0.37);

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container{
  margin-top: 3.75rem;
}