.shadowCircle {
  z-index: -1;
  width: clamp(18rem, 60vw, 45.5rem);
  height: clamp(15rem, 50vw, 38rem);
  border-radius: 50%;
  background-color: var(--shadow);
  filter: blur(clamp(40px, 8vw, 75px));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loadingAnimation 1s ease-out;
}
@keyframes loadingAnimation {
  from {
    transform: translate(-50%, -20%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.fullscreen {
  min-height: calc(100svh - 4.125rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  /* padding-top: clamp(4rem , 5vh, 7rem); */
  padding-bottom: 4px;

}

.HookLine{
  color: var(--primaryTXT);
  font-size: clamp(1.6rem, 6vw, 4rem);
  max-width: 20ch;
  font-weight: 400;
}
.FastWord{
  color: var(--accent);
}
.secondaryHookLine{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 200;
  color: var(--secondaryTXT);
}

.lTryItButton {
  margin-top: 1rem;
  padding: 0.75em 1.5em;
  min-width: 14rem;
  font-size: 1rem;
  color: var(--primaryTXT);
  background-color: var(--accent);
  border: 0.5px solid hsla(301, 58%, 53%, 0.49);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.625rem rgba(191, 62, 255, 0.76);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.lTryItButton:hover{
    box-shadow: 0px 0px 15px rgba(191, 62, 255, 0.76);
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.2rem;
}
.FastFeature,
.SimpleFeature,
.NoSignupFeature {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  align-items: center;
}